*
body{
    background-image: url('https://pa1.aminoapps.com/7809/f111714bb99be112e185cf301579fb3d305b0701r1-970-580_00.gif');
    background-size: cover;
    
    
    
    height: 100vh;
    padding:0;
    margin:0;
}